:root {
    --primary-background-color: black;
    --secondary-background-color: white;
    --primary-text-color: white;
    --secondary-text-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    display: grid;
    position: relative;
    /* todo grid gaps  */
    grid-template-columns: 1 1fr;
    grid-row: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}

.prompter {
    position: absolute;
    top: 0;
    left: 0;
    grid-row: 1;
    overflow: scroll;
    padding-left: 15px;
    max-height: 60%;
    min-height: 60%;
    width: inherit;
    background-color: var(--primary-background-color);
}

.prompter h1 {
    font-size: 77px;
    color: tan;
}

.control {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 40%;
    min-height: 40%;
    width: 100%;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--primary-background-color);
    color: tan;
}

textarea {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    font-size: 34px;
}

button:hover {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.data-label {
    text-align: center;
    text-decoration: underline;
    font-size: 22px;
}

.clock-display {
    padding: 5px;
    text-align: center;
    font-size: 22px;
}

.box {
    /* border: solid red 1px; */
    border: solid black 2px;
}

#box-2 {
    grid-column: 1/4;
}

#box-3 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}